input[type="range"] {
  min-width: 500px;
  width: 25vw;
  margin: 0;
}

td, th {
   padding: 0.25em;
   text-align: center;
}

th {
   font-weight: bold;
   width: 8em;
}

.left {
   text-align: left;
}

